/*
    Colours
    greyBlue:   #6D7B95;
    lightBlue:  #67C1DC;
    red:        #FF3B4B;
    green:      #4CB5A4;
    dark:       #3F4C5D;
    yellow:     #FFE168;
*/

/* soft body reset */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#header {
    height: 50px;
    background-color: #3F4C5D;
}

#header h1 {
  font-size: 30px;
  margin-top: 10px;
  color: #FFE168;
  margin-bottom: 0;
  display: inline-block;
}

#header .navbar-toggle{
    background-color: #FFE168;
}

#header .navbar-toggle .icon-bar{
    background-color: #3F4C5D;
}

/* shared properties */
.poke-info-container,
.poke-info-map-container {
    height: calc(100vh - 50px); /* leave 50px for header */
}

/* table section */

.poke-info-container {
    background: #67c1dc;
    background: -moz-linear-gradient(top, #67c1dc 0%, #ff3b4b 100%);
    background: -webkit-linear-gradient(top, #67c1dc 0%,#ff3b4b 100%);
    background: linear-gradient(to bottom, #67c1dc 0%,#ff3b4b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c1dc', endColorstr='#ff3b4b',GradientType=0 );
    overflow: auto;

    position: fixed;
    top: 50px;
    z-index: 999;
    width: 80%;
}

@media only screen and (min-width : 768px) {
    .poke-info-container {
        position: relative;
        top: 0px;
        width: 33.33333333%;
    }
}

@media only screen and (min-width : 992px) {
    .poke-info-container {
        width: 25%;
    }
}

.poke-info-container table{
    color: white;
}

/* Map section */
.poke-info-map-container {
   padding: 0;
}

.poke-info-map-container #map {
    width: 100%;
    height: 100%;
}

/* Webkit custom scrollbar*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #4CB5A4;
}

::-webkit-scrollbar-thumb {
    background-color: #FF3B4B;
}

.refresh-icon {
    background-color: #FFE168;
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.loading {
    position: relative;
    width: 100%;
    height: 100%;
}

.loading .pokeballs{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading .pokeballs img {
    display: inline-block;
    width: 100px;
    height: 100px;
}